@font-face {
font-family: 'BYekan';
   src: url('../fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */
        url('../fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body{
	font-family: BYekan !important;
    src: url(../fonts/BYekan.ttf) !important;
    src: url(../fonts/BYekan.woff) !important;
    src: url(../fonts/BYekan.eot) !important;
}
@font-face {
    font-family: BYekan !important;
    src: url(../fonts/BYekan.ttf) !important;
    src: url(../fonts/BYekan.woff) !important;
    src: url(../fonts/BYekan.eot) !important;
}
div , p{
	font-family: BYekan !important;
    src: url(../fonts/BYekan.ttf) !important;
    src: url(../fonts/BYekan.woff) !important;
    src: url(../fonts/BYekan.eot) !important;
}
.no-padding{
  padding-right: 0px;
  padding-left: 0px; 
}
.padding-r{
  padding-right: 15px;
}
.padding-l{
  padding-left: 15px;
}
.padding-r-sm{
  padding-right: 7.5px;
}
.padding-l-sm{
  padding-left: 7.5px;
}

.height-lg{
  width: 100%;
  height: 497px;
}
.height-md{
  width: 100%; 
  height: 241px;
}
.margin-b{
  margin-bottom: 15px;
}
.category-img{
  border:1px solid #6f4753;
}
.categoty-text{
    position: absolute;
    top: 0%;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: #0000004d ; 
    opacity: 0;
}
.border{
    width: 10px;
    height: 5px;
    background:#fff;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    opacity: 0;
}
.text{
  padding-left: 10px;
        padding: 10px 20px;
        opacity: 0;
}
.pic1:hover .text{
    opacity: 1;
    color: #fff;
}
.pic1:hover .categoty-text{
  opacity: 1;
        
}
.pic1:hover .category-img .border{
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 991px) {
    .margin-t {
       margin-top: 15px; 
    }
    .margin-b{
    margin-bottom: 0px;
  }
    .padding-xs-r{
    padding-right: 15px;
  }
  .padding-xs-l{
    padding-left: 15px;
  }
  .padding-xs-r-sm{
    padding-right: 7.5px;
  }
  .padding-xs-l-sm{
    padding-left: 7.5px;
  }
} 
@media screen and (max-width: 425px) {
    .height-lg{
    width: 100%;
    height: 300px;
  }
  .height-md{
    width: 100%; 
    height: 150px;
  }
}
.flex-container {
  display: flex;
  margin-top:   245px;
  justify-content: center;
}

.flex-container>img {
  width: 15px;
  height:15px;
  margin: 5px;
  text-align: center;
  border-radius:50px;
  cursor: pointer;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  float: left;
  width: 100%;
}
.flex-container2>div {
  background-color: transparent;
  width: 30px;
  height:30px;
  margin: 0px;
  text-align: center;
  cursor: pointer;
}
.upload {
  position: relative;
  display: inline-block;
}

.upload label {
  color: #5F626A;
  cursor: pointer;
  width: 90px;
  height: 90px;
  position: relative;
  display: block;
  border: 3px dashed #5F626A;
  border-radius: 10px;
  overflow: hidden;
  transition: background ease .5s;
  pointer-events: none; /*This for FF*/
}

.input-file {
  opacity: 0; /*This*/
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.add-image {
  display: block;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
}
.service-box img{
  width: 100%;
  height: 130px;
}


.upload {
  position: relative;
  display: inline-block;
}

.upload label {
  color: #5F626A;
  cursor: pointer;
  width: 90px;
  height: 90px;
  position: relative;
  display: block;
  border: 3px dashed #5F626A;
  border-radius: 10px;
  overflow: hidden;
  transition: background ease .5s;
  pointer-events: none; /*This for FF*/
}

.input-file {
  opacity: 0; /*This*/
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.add-image {
  display: block;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
}
/* Table Styles */

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 850px;
  padding:5px;
  width: 100%;
  animation: float 5s infinite;
}
 
.table-fill th {
  color:#fff;
  background:#f89b1c;
  border-right: 2px solid #fff;
  font-size:16px;
  font-weight: bold;
  padding:24px;
  text-align:left;
  vertical-align:middle;
}

 
.table-fill th:last-child {
  border-right:none;
}
  
.table-fill tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#727272;
  font-size:16px;
  font-weight:normal;
}

.table-fill tr:first-child {
  border-top:none;
}

.table-fill tr:last-child {
  border-bottom:none;
} 
.table-fill td {
  background:#FFFFFF;
  padding:15px 20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.table-fill td:last-child {
  border-right: 0px;
}

.table-fill td:nth-child(odd){
border-right: 3px solid white;
}

.table-fill th.text-left {
  text-align: left;
}

.table-fill th.text-center {
  text-align: center;
}

.table-fill th.text-right {
  text-align: right;
}

.table-fill td.text-left {
  text-align: left;
}

.table-fill td.text-center {
  text-align: center;
}

.table-fill td.text-right {
  text-align: right;
}



/*product*/
main {
  background-color: black !important;
  min-width: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0 auto;
  background: #fff;
}

#specs section {
  background-color: #EFEFEF;
  display: none;
  margin-top: 49px;
}

#specs>input {
  display: none;
}

#specs label,#specs > span  {
  background-color: black;
  float: right;
  display: inline-block;
  margin: 0 -2px .0.4px;
  padding: 12px 25px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  border: 1px solid transparent;
}

#specs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
/*
#specs label[for*='1']:before {
  content: ' \f1cb ';
}

#specs label[for*='2']:before {
  content: ' \f17d ';
}

#specs label[for*='3']:before {
  content: ' \f16b ';
}

#specs label[for*='4']:before {
  content: ' \f1a9 ';
}
*/

#specs label:hover {
  color: white;
  cursor: pointer;
}

#specs input:checked + label {
  color: #fff;
  border-bottom: 4px solid #f89b1c;
}

#specs #tab1:checked ~ #content1,
#specs #tab2:checked ~ #content2,
#specs #tab3:checked ~ #content3,
#specs #tab4:checked ~ #content4, 
#specs #tab5:checked ~ #content5 {
  display: block;
}

@media screen and (max-width: 650px) {
 
  #specs label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  #specs label {
    padding: 15px;
  }
}

#specs .btn-custom{
  background-color:#f89b1c;
  color:white;
  border:none;
  padding: 5px;
  padding: 3px 15px;
  margin: 10px -2px 0.4px 50px;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
}
#bg-dro{
  background-image: url('../img/backproduct.png');
  background-repeat: no-repeat;
  height:600px;
}
#content2 tr:nth-child(odd) td {
  background:#EBEBEB;
}
/* play video in product page */
.video-wrapper {
    position: relative;
    margin-top: 7em;
    width: 100%;
    
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
    height: 400px;
    
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}

