@import "font.css";
.yiiLog
{
	direction: ltr;
}
textarea
{
	resize: vertical;
}
.pointer
{
	cursor: pointer;
}
.no-gap
{
	margin: 0px;
}
.auto-gap
{
	margin: auto;
}
.gap-top-lg
{
	margin-top: 30px;
}
.gap-right-lg
{
	margin-right: 30px;
}
.gap-bottom-lg
{
	margin-bottom: 30px;
}
.gap-left-lg
{
	margin-left: 30px;
}
.gap-top-md
{
	margin-top: 15px;
}
.gap-right-md
{
	margin-right: 15px;
}
.gap-bottom-md
{
	margin-bottom: 15px;
}
.gap-left-md
{
	margin-left: 15px;
}
.gap-top-sm
{
	margin-top: 9px;
}
.gap-right-sm
{
	margin-right: 5px;
}
.gap-bottom-sm
{
	margin-bottom: 5px;
}
.gap-left-sm
{
	margin-left: 5px;
}
.persian
{
	direction: rtl;
}
.english
{
	direction: ltr;
}
.min-height
{
	min-height: 300px;
}
.white
{
	color: #ffffff;
}
.black
{
	color: #000000;
}
.white-shadow
{
	text-shadow:2px 2px 1px #ffffff;
}
.black-shadow
{
	text-shadow:2px 2px 1px #000000;
}
.component_ulist
{
	margin: 0px;
	padding: 0px 25px 0px 0px;
	list-style-type: disc;
}
.component_ulist li
{
	margin: 6px 0px;
	text-align: justify;
}
form span.required
{
	color: #ff0000;
}
.errorMessage
{
	color: #ff0000;	
}